<div class="container">

    <div class="row bar">
        <div class="col-4 current">
            <strong>Choose Plan</strong>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-4 wrapper" *ngFor="let plan of planList">
            <div class="form-content">
                <div class="form-header">
                    <h2>{{plan.name}}</h2>
                </div>
                <div class="form-body">
                    <h3>{{plan.numberOfLines}} Line(s)</h3>
                    <p>{{plan.description}}.</p>
                </div>
                <div class="form-footer">
                    <input id="price" type="submit" class="btn btn-primary btn-lg" value="${{plan.pricePerLine}} / Line"
                        (click)="handleClick(plan)" />
                </div>
            </div>
        </div>
    </div>
</div>