<div *ngIf="isLoaded">
<div class="container" (onload)="updateUser()">
  <p>
    <a [routerLink]="['/plans']"><input type="submit" class="btn btn-primary btn-lg" value="New Plan"/></a>
  </p>
    
        <div *ngFor="let userPlanline of userPlanLines; let indexOfElement=index;"  >
          <p class="table-title"> Your Plan Name : {{userPlanline.userPlan.nickname}}   </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">PhoneNumber</th>
                <th scope="col">Device</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let line of userPlanline.lines">
                <td> {{line.phonenumber}}</td>
                <td> {{line.device_Id}}</td>
                <td> {{userPlanline.userPlan.plan.pricePerLine}}</td>
              </tr>
            </tbody>
          </table>
        </div> 
        <label>Your Total Bill is: {{bill}}</label>
</div>
</div>
<!-- user.userPlans[indexOfElement] -->